body {
  height: 100vh;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.bg_section .bg_img {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bg_section .bg_img .slot-machine {
  max-width: 900px !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}
.bg_section .bg_img .slot-machine .slot_heading h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  color: #FFC34B;
}
.bg_section .bg_img .slot-machine .slot_heading .star_img {
  max-width: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg_section .bg_img .slot-machine .slot_heading .winner_name h1 {
  font-style: italic;
  font-size: 50px;
  text-align: center;
  color: white;
}
.bg_section .bg_img .slot-machine .slot_img {
  position: relative;
  z-index: 2;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count {
  position: relative;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count .fancy {
  position: relative;
  background: url("../images/Group 9430.png");
  width: 100%;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count .fancy .lever {
  position: absolute;
  right: -58px;
  top: 0px;
  z-index: -1;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count .fancy .lever img {
  width: 100%;
  height: 100%;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count .fancy .slot li {
  width: 52px;
  line-height: 100px;
  text-align: center;
  font-size: 46px !important;
  font-weight: bold;
  color: #CB8011;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  font-family: "Gravitas One", serif;
  margin-right: 8px;
  background: #FFF2D8;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count .fancy .slot li span {
  display: block;
  margin-bottom: 14px !important;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count .startDraw {
  position: absolute;
  top: 19px;
  left: 57px;
  z-index: 9;
  max-width: 780px;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count .startDraw.hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1.5s ease all;
  transition: 1.5s ease all;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count .startDraw ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -5px;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count li {
  width: calc(8.3333333333% - 10px);
  text-align: center;
  background: #FFF2D8;
  margin: 0 5px;
  overflow: hidden;
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #CB8011;
  font-size: 46px !important;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count li_span {
  display: block;
}
.bg_section .bg_img .slot-machine .slot_img .main_parent_count .jSlots-wrapper {
  overflow: hidden;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none !important;
  z-index: 2;
  left: 70px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fancy.newClass {
  width: 70% !important;
  -webkit-transition: 0.5s ease all !important;
  transition: 0.5s ease all !important;
  margin: 0 auto !important;
}

.fancy.newClass ul.slot {
  width: calc(8.33% - 20px);
  margin: 0 5px;
}

.fancy.newClass .jSlots-wrapper {
  left: 48% !important;
  top: 50% !important;
  height: 65px !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translate(-50%, -50%) !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.fancy.newClass li {
  width: 100% !important;
}

.lever .leverClass {
  display: none !important;
}

.car_img {
  max-width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slot {
  float: left;
}

.lottie {
  position: absolute;
  height: 420px;
  width: 500px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
}