body{
    height: 100vh;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.bg_section{
    .bg_img {
        width: 100%;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
       
        .slot-machine{
            max-width: 900px !important;
            flex-wrap: wrap;
            margin: 0 auto;
            text-align: center;
            .slot_heading{
                h1{
                    font-size: 50px;
                    text-align: center;
                    font-weight: 800;
                    color: #FFC34B;
                }
                
                .star_img{
                    max-width: 400px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                }
                .winner_name{
                    h1{
                        font-style: italic;
                        font-size: 50px;
                        text-align: center;
                        color: #FFFF;
                    }
                }

            }
            .slot_img{
                position: relative;
                z-index: 2;
            
                .main_parent_count{
                    position: relative;
                    .fancy{
                        position: relative;
                        background: url('../images/Group\ 9430.png');
                        width: 100%;
                        height: 120px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        transition: .5s ease all;

                       
                        .lever{
                            position: absolute;
                            right: -58px;
                            top: 0px;
                            z-index: -1;
                           
                            img {
                                width: 100%;
                                height: 100%;
                            }
                           }
                           .slot li {
                            width: 52px;
                            line-height: 100px;
                            text-align: center;
                            font-size: 46px !important;
                            font-weight: bold;
                            color: #CB8011;
                            text-shadow: 1px 1px 0 rgb(0 0 0 / 80%);
                            font-family: "Gravitas One", serif;
                            margin-right: 8px;
                            background: #FFF2D8;
                       span{
                        display: block;
                        margin-bottom: 14px !important;
                       }
                      
                    }
                    
    
                    }
                    .startDraw{
                        position: absolute;
                        top: 19px;
                        left: 57px;
                        z-index: 9;
                        max-width: 780px;
                        width: 100%;
                                transition: all .3s ease-out;

                        &.hide{
                            opacity: 0;
                            visibility: hidden;
                            transition: 1.5s ease all;
                        }
                      
                    }
                        .startDraw ul {
                            display: flex;
                            justify-content: center;
                            margin: 0 -5px;
                        }
                            li {
                                width: calc(100%/12 - 10px);
                                text-align: center;
                                background: #FFF2D8;
                                margin: 0 5px;
                                overflow: hidden;
                                height: 81px;
                                display: flex;
                                color: #CB8011;
                                font-size: 46px !important;
                                font-weight: 700;
                                justify-content: center;
                                align-items: center;
                                &_span{
                                    display: block;
                                   }
                            }
                        
                           
                     .jSlots-wrapper {
                        overflow: hidden;
                        height: 80px;
                        width: 100%;
                        display: flex;
                      
                        border: none !important;
                        z-index: 2;
                        left: 70px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        
                    }
                  
                   
                    
                 
                }
                

            }
        }
    }


}
.fancy.newClass {
    width: 70% !important;
    transition: .5s ease all !important;
    margin: 0 auto !important;
}
.fancy.newClass ul.slot {
    width: calc( 8.33% - 20px);
    margin: 0 5px;
}
.fancy.newClass .jSlots-wrapper{
    left: 48% !important;
    top: 50% !important;
    height: 65px !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translate(-50%,-50%) !important;
    justify-content: center !important;
}
.fancy.newClass li{
    width: 100% !important;
}
.lever .leverClass {
    display: none !important;
}
.car_img{
    max-width: 385px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.slot {
    float: left;
}


.lottie{
    position: absolute;
    height: 420px;
    width: 500px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}




